section.about
	.about__picture
	.about__text
		h3.about__title.common-title-light="О проекте"
		ul.about-list
			li.about-list__item.common-subtitle-bold="Продолжительность: 4 недели"
			li.about-list__item.common-subtitle-bold="Видеопрограмма ваших тренировок"
				p.about-list__description.common-main-regular="Еженедельная видео программа тренировок, принципы и техника выполнения упражнений"
			li.about-list__item.common-subtitle-bold="Подробная программа питания"
				p.about-list__description.common-main-regular="Еженедельная продуктовая корзина, разнообразное меню и график приема пищи"
			li.about-list__item.common-subtitle-bold="Профессиональная поддержка и обратная связь"
				p.about-list__description.common-main-regular="Личный онлайн-кабинет, поддержка тренера, чат участников 24 часа в сутки"
			li.about-list__item.common-subtitle-bold="Не зависит от места расположения"
				p.about-list__description.common-main-regular="Участие можно принять находясь в любом городе, посещая фитнес зал или тренируясь дома"
			li.about-list__item.common-subtitle-bold="Любой уровень подготовки"
				p.about-list__description.common-main-regular="Для мужчин и женщин всех возрастов,  любого уровня подготовки, желающих снизить свой вес"
			li.about-list__item.common-subtitle-bold="Выгодно"
				p.about-list__description.common-main-regular="Любое удобное время для тренировок, экономия на фитнес-абонементах и персональных тренерах"
			li.about-list__item.common-subtitle-bold="Призы"
				p.about-list__description.common-main-regular="Онлайн-голосование среди участников за выигрыш призового фонда. Призы и подарки от спонсоров проекта."
	